@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

html,
body {
	font-size: 16px;
	font-family: "Roboto Mono", sans-serif;
}

#navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#options {
	width: 65%;
	margin: 0;
}

li {
	display: flex;
	display: inline;
	margin: 25px;
}

a {
	color: #3f4c5c;
	text-decoration: none;
}
a:hover {
	color: #329694;
}

#title {
	width: 55%;
	color: #3f4c5c;
	font-size: 30px;
	font-weight: 400;
	margin: 15px;
}

.paragraph {
	color: #3f4c5c;
	margin: 15px;	
}